<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="suzp1984.github.io.exapidemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ExApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExApiDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.SlidingPanelLayoutTextViewSampleActivity"
            android:exported="false"
            android:label="layout/slidingPanel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>

        <activity
            android:name=".layout.AnkoRelativeActivity"
            android:exported="false"
            android:label="layout/anko relativelayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>

        <activity
            android:name=".graphics.StarsActivity"
            android:exported="false"
            android:label="graphics/stars">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.PixelArtActivity"
            android:exported="false"
            android:label="graphics/pixelsArt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.MandelbrotActivity"
            android:exported="false"
            android:label="graphics/mandelbrot art">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.MartinViewActivity"
            android:exported="false"
            android:label="graphics/Martin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.KastenViewActivity"
            android:exported="false"
            android:label="graphics/Kasten">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.ManuelKastenViewActivity"
            android:exported="false"
            android:label="graphics/Manuel Kasten 2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.PhagocyteViewActivity"
            android:exported="false"
            android:label="graphics/Phagocyte">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.fragments.FragmentSample1Activity"
            android:exported="false"
            android:label="app/fragments/Fragments 1 in RecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.fragments.FragmentSample2Activity"
            android:exported="false"
            android:label="app/fragments/Fragments 2 in RecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.fragments.FragmentSample3Activity"
            android:exported="false"
            android:label="app/fragments/Fragments 3 in RecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.fragments.FragmentSample4Activity"
            android:exported="false"
            android:label="app/fragments/Fragments 4 in RecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.fragments.FragmentSample5Activity"
            android:exported="false"
            android:label="app/fragments/Fragments 5 in RecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.design.NavgationViewActivity"
            android:exported="false"
            android:label="app/design/navigation view"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.menu.MenuInflateActivity"
            android:exported="false"
            android:label="app/menu/MenuInflate"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.nav.CustomDrawerActivity"
            android:exported="false"
            android:label="app/navigation/Drawer"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.recycler.CustomScrollbarActivity"
            android:exported="false"
            android:label="widget/recycler/custom scrollbar"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.fragments.ListViewSample1Activity"
            android:exported="false"
            android:label="app/fragments/listview 1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.fragments.ListViewSample2Activity"
            android:exported="false"
            android:label="app/fragments/listview 2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".system.runtime.MemoryCheckActivity"
            android:exported="false"
            android:label="system/runtime/check memory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".system.runtime.RuntimeMemoryActivity"
            android:exported="false"
            android:label="system/runtime/memory allocation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity android:name=".system.runtime.AnkoMemoryCheckActivity"
            android:exported="false"
            android:label="system/runtime/Anko UI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>
        <activity
            android:name=".system.WifiStateActivity"
            android:exported="false"
            android:label="system/wifi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>

        <activity
            android:name=".system.ConnectivityStateActivity"
            android:exported="false"
            android:label="system/connection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>

        <activity
            android:name=".system.db.SqliteDbSampleActivity"
            android:exported="false"
            android:label="system/sqlite"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>

        <activity
            android:name=".system.SystemReportActivity"
            android:exported="false"
            android:label="system/report"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>

        <activity
            android:name=".system.file.FileObserverDemoActivity"
            android:exported="false"
            android:label="system/file/file observer"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="suzp1984.github.io.exapidemo.samplecode" />
            </intent-filter>
        </activity>

        <service
            android:name=".system.file.FileObserverDemoService"
            android:enabled="true"
            android:exported="false">

        </service>

    </application>

</manifest>